<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <style>
   h3 {
    font-size: 28px !important;
   }
  </style>

  <body>

    <div id="infopack">

        <header>

          {{ partial "nav.html" . }}
          <link rel="stylesheet" type="text/css" href="/css/component.css" />

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="main">
                          <div class="heading text-center">
                              <h2>Recruitment</h2>
                          </div>

                          <h2 class="text-center">Interested in joining the team?</h2>

                          <p class="lead text-center">
                            You're on the right page, keep reading.
                          </p>

                          <div class="panel panel-primary text-center">
                            <div class="panel-body price">
                              <h1><i class="fa fa-diamond" aria-hidden="true"></i> Open Recruitment Policy <i class="fa fa-diamond" aria-hidden="true"></i></h1>
                            </div>
                          </div>

                          <br />

                          <div class="spacer text-center">
                            <h3 class="lead">
                              We take in new members (undergrad and grad) all year round. All skill levels, departments and faculties welcomed. Please read on and complete the following steps.
                            </h3>
                            <p>
                              Feel free to join in any of our team meetings at any time to see what we're up to (try to e-mail us first, meeting times might change).
                            </p>
                          </div>

                          <hr />

                          <div class="panel text-center">
                            <div class="panel-body steps">
                              <h2><i class="fa fa-envelope" aria-hidden="true"></i> 1. Mailing List <i class="fa fa-envelope" aria-hidden="true"></i></h2>
                              <p>Make sure that you sign up for the mailing list using the form below.</p>
                            </div>
                          </div>

                          <!-- Begin MailChimp Signup Form -->
                          <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                          <style type="text/css">
                          #mc_embed_signup{background:#ffe; clear:left; font:14px Helvetica,Arial,sans-serif; }
                          </style>
                          <div id="mc_embed_signup">
                          <form action="//ubcchemecar.us11.list-manage.com/subscribe/post?u=919b72f1aaf70072354dd9010&amp;id=fb55bcb4c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <div id="mc_embed_signup_scroll">
                          <h2>UBC Chem-E-Car Mailing List</h2>
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                            </label>
                          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                          <label for="mce-FNAME">First Name </label>
                          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                          <label for="mce-LNAME">Last Name </label>
                          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                          <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_919b72f1aaf70072354dd9010_fb55bcb4c5" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                            </form>
                            </div>
                            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                            <!--End mc_embed_signup-->

                          <div class="panel text-center">
                            <div class="panel-body steps">
                              <h2><i class="fa fa-heartbeat" aria-hidden="true"></i> 2. Safety Training <i class="fa fa-heartbeat" aria-hidden="true"></i></h2>
                              <p>Please complete the following online quizzes provided by UBC Risk Management Services. Print out a hardcopy of your certificates and bring it to the next meeting to gain access to our lab and workshop space. </p>
                              <small>You are <b>still welcome</b> to attend our meetings but you won't be able to join the lab or workshop activities if you don't.</small>
                            </div>
                          </div>

                          <div class="panel panel-primary text-center">
                            <div class="panel-body text-link">
                              <h2><a href="https://www.hse2.ubc.ca/moodle/course/"><i class="fa fa-external-link" aria-hidden="true"></i> UBC Risk Management Services</a></h2>
                              <br />

                              <div class="container-fluid">
                              <div class="col-md-12">
                              <div class="row">
                              <div class="col-md-4">
                                <div class="text-center">
                                <h5>Engineering Design Team Safety Orientation</h5>
                                <p>You need this for workshop access.</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="text-center">
                                <h5>Preventing and Addressing Workplace Bullying and Harassment</h5>
                                <p>All Engineering Design Team members in UBC need this.</p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="text-center">
                                <h5>Chemical Safety Course</h5>
                                <p>You need this for lab access.</p>
                                </div>
                              </div>
                              </div>
                              </div>
                              </div>

                            </div>
                          </div>

                          <div class="panel text-center">
                            <div class="panel-body steps">
                              <h2><i class="fa fa-car" aria-hidden="true"></i> 3. AIChE Membership <i class="fa fa-car" aria-hidden="true"></i></h2>
                              <p>You'll also need to register as an AIChE (American Institute of Chemical Engineers) student member and pass the AIChE safety quiz to compete in any Chem-E-Car competition organized by AIChE.</p>
                              <p>
                                <a href="http://www.aiche.org/chem-e-car-competitionr-rules">
                                   Read the rules, register as a student member (it's free!) and take the safety test
                                </a>
                              </p>
                            </div>
                          </div>

                          <div class="panel text-center">
                            <div class="panel-body steps">
                              <h2><i class="fa fa-phone" aria-hidden="true"></i> 3. Introduce Yourself <i class="fa fa-phone" aria-hidden="true"></i></h2>
                              <p>Email the Junior Team Captains, Abhi and Victor and introduce yourself. Tell us what you'd like to do on the team and we'll find the right project for you. Our junior captains can provide you with more information on meeting times and answer any questions that you may have.</p>
                            </div>
                          </div>

                          <div class="panel panel-primary">
                            <div class="panel-body steps text-center">
                              <h2><a href="mailto:juniorlead@ubcchemecar.com">juniorlead@ubcchemecar.com</a></h2>
                            </div>
                          </div>

                          <div class="panel text-center">
                            <div class="panel-body steps">
                              <h2><i class="fa fa-sticky-note" aria-hidden="true"></i> 4. Notes <i class="fa fa-sticky-note" aria-hidden="true"></i></h2>
                              <p>
                                If you're in a reading mood...
                              </p>
                            </div>
                          </div>

                          <div class="container">
                              <div class="row">
                                  <div class="col-md-12">
                                      <div>
                                        {{ .Content }}
                                      </div>
                                  </div>
                              </div>
                          </div>

                        <br>
                        <hr>

                        </div>
                    </div>
                </div> <!-- /.row -->
            </div>


        {{ partial "footer.html" . }}
        </div>
        <!-- /#content -->



    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/grid.js"></script>
    <script>
      $(function() {
          Grid.init();
      });
    </script>
  </body>
</html>
