<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <style>
   h3 {
    font-size: 28px !important;
   }
  </style>
  
  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}
          <link rel="stylesheet" type="text/css" href="/css/component.css" />

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="main">
                          <div class="heading text-center">
                              <h2>{{ .Site.Params.sponsorship.title }}</h2>
                          </div>

                          <p class="lead">
                            {{ .Site.Params.sponsorship.description }} 
                          </p>                          

                        <div class="text-center">
                          <p> We issue official business acknowledgement letters for sponsorship and tax receipts for donations. Please contact us at <a href="sponsorship@ubcchemecar.com">sponsorship@ubcchemecar.com</a> for more information. </p>

                          <h1>
                            <a href="/docs/UBC_Chem-E-Car_2016-2017.pdf" class="btn btn-lg btn-primary" role="button"> <i class="fa fa-download" aria-hidden="true"></i> Sponsorship Package [PDF]</a>
                          </h1>
                        </div>
                        <br>
                        <hr>

                        </div>                          
                    </div>
                </div> <!-- /.row -->
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                          <div class="heading text-center">
                              <h3>Sponsors</h3>
                          </div>
                          <div class="main">
                            <ul id="og-grid" class="og-grid">
                              {{ range .Site.Data.clients }}
                                <li>
                                    <a href="{{ .website }}" data-largesrc="../{{ .image }}" data-title="{{ .name }}" data-role="{{ .level }}" data-description="{{ .blurb }}" data-href_desc="<i class='fa fa-arrow-right'></i> Vist Website">
                                      <img src="../{{ .image }}" alt="{{ .name }}"/>
                                    </a>
                                </li>
                              {{ end }}
                            </ul>
                          </div>                          
                        </div>
                    </div>
                </div> <!-- /.row -->


            </div>
            <!-- /.container -->

        {{ partial "footer.html" . }}
        </div>
        <!-- /#content -->

        

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/grid.js"></script>
    <script>
      $(function() {
          Grid.init();
      });
    </script>
  </body>
</html>
