<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <style>
   h3 {
    font-size: 28px !important;
   }
  </style>

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}
          <link rel="stylesheet" type="text/css" href="/css/component.css" />

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1> The 2016-2017 UBC Chem-E-Car Team </h1>
                        {{ .Content }}
                        <div>
                          <div class="main">
                            <ul id="og-grid" class="og-grid">
                              {{ range .Site.Params.team }}
                                <li>
                                  <a href="{{.linkedin}}" data-largesrc="{{ .image }}" data-title="{{ .name }}" data-role="{{ .role }}" data-description="{{ .blurb }}" data-href_desc="<i class='fa fa-linkedin fa-square-o'></i> LinkedIn">
                                    <img src="{{ .image }}" alt="{{ .name }}"/>
                                  </a>
                                  <div class="team-name"><p>{{ .name }}</p></div>
                                </li>
                              {{ end }}
                            </ul>
                          </div>                          
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        {{ partial "footer.html" . }}
        </div>
        <!-- /#content -->

        

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/grid.js"></script>
    <script>
      $(function() {
          Grid.init();
      });
    </script>
  </body>
</html>
